---
---

@import "sass-code-highlight/monokai";

main { 
  gap: 1em;
}

code {
  padding: 0.2em 0.3em;
  border-radius: 0.2em;
  font-size: var(--fs-base);
  background-color: lightgrey;
  color: black;
}

.highlight {
  padding: 0.5em;
  border-radius: 0.5em;
  margin: 0 0.5em;
  overflow-x: scroll;
}

pre > code {
  border: unset;
  background-color: unset;
  padding: unset;
  line-height: 1;
  color: whitesmoke;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}
